@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --dd-bg-primary: #dadada;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  color: unset;
  text-decoration: none;
}

html,
body {
  background-color: var(--dd-bg-primary);
}
