@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --dd-bg-primary: #ff2323;
  --dd-bg-secondary: #dadada;
  --dd-bg-tertiary: #ffffff;

  --dd-font-primary: #ff2323;
  --dd-font-secondary: #6f6f6f;
  --dd-font-tertiary: #ffffff;

  --dd-btn-primary: #ff2323;
  --dd-btn-secondary: #ffffff;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  color: unset;
  text-decoration: none;
}

html,
body {
  background-color: var(--dd-bg-secondary);
}

/* Generic Styles */

.dd-container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

.dd-card {
  height: 200px;
  left: 160px;
  top: 110px;
  background: var(--dd-bg-tertiary);
  border-radius: 6px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.dd-card-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--dd-font-secondary);
}
